/* Responsive Styles for Mobile */
@media only screen and (max-width: 767px) {
    nav .desktop {
        display: none;
    }

    nav .mobile {
        display: block;
    }

    header h1 {
        animation: none;
    }

    #mountain-facts > .flex-container {
        flex-direction: column;
        align-items: center;
    }

        #mountain-facts > .flex-container figure {
            margin-left: 0;
            margin-bottom: 16px;
        }

        #mountain-facts > .flex-container figcaption {
            margin-top: 0;
        }

    #section-video .flex-container {
        align-items: center;
    }

    iframe {
        max-width: 100%;
    }

    #form-section form {
        max-width: 100%;
        margin: 0 16px;
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

/* Hide the burger icon by default */
.mobile {
    display: none;
}

/* Show the burger icon in mobile mode */
@media (max-width: 768px) {
    .mobile {
        display: inline-block;
    }
}
