/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.dark-mode {
    background-color: #333333;
    color: white;
}
  
nav {
    position: fixed;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    height: 52px;
    border-bottom: 2px solid #222222;
    z-index: 99999;
}

    nav a {
        color: #222222;
        text-decoration: none;
    }

    nav > #dark-mode-switch {
        display: flex;
        margin-left: auto;
        margin-right: 16px;
    }

        nav > #dark-mode-switch > p {
            margin-right: 8px;
        }

    nav > ul > li {
        display: inline-block;
    }

    nav > span > img {
        height: 32px;
        width: auto;
        padding: 8px;
    }

    nav > span {
        display: flex;
        align-items: center;
    }

header {
    text-align: center;
    color: white;
    background-color: #222222;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 48px;
    background-image: url("images/mountain_background.jpg");
    background-position: top center;
    background-size: cover;
}

    header h1 {
        font-weight: bold;
        margin: 16px;
        text-shadow: 2px 2px #222222;
    }

    header p {
        margin: 0;
        text-shadow: 2px 2px #222222;
    }

img {
    max-width: 100%;
}

h2 {
    font-weight: 700;
    text-align: center;
    margin-top: 24px;
}

/* Grid Layout for Photos */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.mountain-photo-item {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

#item-1 {
    grid-column-end: span 2;
}

#item-2 {
    grid-row-end: span 2;
}

#item-3 {
    grid-column-end: span 3;
}

#item-4 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

#item-7 {
    grid-row-end: span 2;
}

#item-5 {
    grid-column-end: span 3;
    grid-row-end: span 2;
}

/* Form Styles */
fieldset {
    margin: 16px 0;
    border-radius: 4px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 95%;
    padding: 8px;
    margin: 8px 0;
    display: block;
    border-radius: 4px;
}

#join-club{
    background-color: whitesmoke;
    color: black;
    padding: 8px;
    margin-top: 16px    
}

#join-club form {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

input[type="radio"] {
    margin-right: 8px;
}

button[type="submit"] {
    color: white;
    background-color: #333333;
    border: 1px solid #333333;
    border-radius: 4px;
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* Image Hover Effect */
.mountain-photo-item {
    filter: grayscale(100%);
    cursor: pointer;
}

    .mountain-photo-item:hover {
        filter: none;
        transition: filter 1s;
    }

/* Responsive Styles for Tablet and Desktop */
@media only screen and (min-width: 768px) {
    /* Adjustments for the mountain-facts section */
    #mountain-facts ul {
        list-style-type: disc; /* Use disc for filled bullets */
        padding-left: 20px; /* Adjust as needed */
    }

        #mountain-facts ul li {
            margin-bottom: 10px; /* Add space between bullet points */
        }

        #mountain-facts ul i {
            margin-right: 10px;
            font-size: 24px;
            color: #007bff; /* Change the color as needed */
        }

    /* Adjustments for the mountain-photos section */
    #mountain-photos .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }

        #mountain-photos .grid-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}
/* Center the video horizontally and vertically */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    list-style-type: upper-armenian;
}

.picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px; /* Reduce the gap between images */
}

.mountain-photo-item {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  transition: transform 0.3s; /* Add transition for smooth animation */
}

/* Animation on hover */
.mountain-photo-item:hover {
  transform: scale(1.3); /* Scale the image to 130% on hover */
}



.field {
    margin-bottom: 10px; /* Add some spacing between fields */
}

label {
    display: block; /* Make the label a block element */
}

select {
    width: 450px; /* Set the width to make it bigger */
    border-radius: 5px; /* Add rounded corners */
    padding: 7px; /* Add some padding for better appearance */
    display: block; /* Make the select element a block element */
    margin-top: 5px; /* Add some spacing between label and select */
}

.radio-group {
    display: flex;
    align-items: center;
}

    .radio-group p {
        margin-right: 10px; /* Adjust margin as needed */
    }

    .radio-group input[type="radio"] {
        margin-right: 5px; /* Adjust margin as needed */
    }

.section-heading {
    margin-bottom: 75px;
}

